In [28]:
import pandas

In [29]:
import pandas as pd

In [30]:
import geopandas as gpd

In [31]:
import matplotlib.pyplot as plt

In [32]:
import contextily as ctx

In [33]:
from geopandas_view import view

In [34]:
import geopandas

In [35]:
## Importing Demographic profile 2018 & Age_and_Sex tracts for 2018

In [36]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
# list files
b.ls("census/demographic_profile/2018/")
# download
b.fetch("census/demographic_profile/2018/", "./2018/")

100%|██████████| 3.23G/3.23G [00:22<00:00, 143MB/s]

In [37]:
b.fetch("census/demographic_profile/2018/acs_2018_X01_AGE_AND_SEX_tract.parquet", "./acs_2018_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.2M/23.2M [00:03<00:00, 6.72MB/s]

In [38]:
tracts = pandas.read_parquet('./acs_2018_X01_AGE_AND_SEX_tract.parquet')

In [39]:
tracts.head()

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US01001020100,1923.0,929.0,22.0,35.0,67.0,83.0,58.0,6.0,0.0,63.0,...,19.9,19.8,38.3,40.9,43.0,40.6,52.5,NaN,NaN,1923.0
14000US01001020200,2028.0,1091.0,60.0,109.0,51.0,46.0,50.0,16.0,5.0,35.0,...,33.5,NaN,NaN,40.4,39.7,40.7,65.6,NaN,NaN,2028.0
14000US01001020300,3476.0,1581.0,53.0,142.0,155.0,43.0,32.0,5.0,33.0,56.0,...,21.2,14.1,37.4,34.8,37.5,34.0,27.8,27.2,28.4,3476.0
14000US01001020400,3831.0,1867.0,149.0,144.0,86.0,40.0,37.0,9.0,13.0,50.0,...,18.1,18.5,9.0,46.5,42.4,51.8,50.2,NaN,NaN,3831.0
14000US01001020500,9883.0,4902.0,350.0,473.0,220.0,309.0,107.0,17.0,34.0,230.0,...,14.5,10.3,40.2,42.4,40.0,45.0,NaN,NaN,NaN,9883.0

In [40]:
tracts.columns

Index(['B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=359)

In [41]:
tracts = tracts.reset_index()

In [42]:
tracts.columns

# GEOID is now a column

Index(['GEOID', 'B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=360)

In [43]:
ca_tracts_2018 = tracts[tracts.GEOID.str.startswith('14000US06')]

In [44]:
ca_tracts_2018.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [45]:
ca_tracts_2018=ca_tracts_2018.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_015E':'ETM_45to49yr','B01001_016E':'ETM_50to54yr','B01001_017E':'ETM_55to59yr','B01001_018E':'ETM_60to61yr','B01001_019E':'ETM_62to64yr','B01001_020E':'ETM_65to66yr','B01001_021E':'ETM_67to69yr','B01001_022E':'ETM_70to74yr','B01001_023E':'ETM_75to79yr','B01001_024E':'ETM_80to84yr','B01001_025E':'ETM_85andover','B01001_026E':'Estimate_Total_Female','B01001_027E':'ETF_Under5yrs','B01001_028E':'ETF_5to9yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr'})

In [46]:
ca_tracts_2018.columns

Index(['GEOID', 'Estimate_Total', 'Estimate_Total_Male', 'ETM_Under5yrs',
       'ETM_5to9yr', 'ETM_10to14yr', 'ETM_15to17yr', 'ETM_18to19yr',
       'ETM_20yr', 'ETM_21yr',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=360)

In [47]:
ca_tracts_2018=ca_tracts_2018[['GEOID','Estimate_Total','Estimate_Total_Male','ETM_Under5yrs','ETM_5to9yr','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr','Estimate_Total_Female','ETF_Under5yrs','ETF_5to9yr','ETF_10_14yr','ETF_15to17yr','ETF_18to19yr']]

In [48]:
ca_tracts_2018.head()

,GEOID,Estimate_Total,Estimate_Total_Male,ETM_Under5yrs,ETM_5to9yr,ETM_10to14yr,ETM_15to17yr,ETM_18to19yr,Estimate_Total_Female,ETF_Under5yrs,ETF_5to9yr,ETF_10_14yr,ETF_15to17yr,ETF_18to19yr
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,1576.0,101.0,27.0,103.0,31.0,81.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,1038.0,41.0,35.0,70.0,27.0,0.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,2636.0,156.0,118.0,74.0,73.0,36.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,2208.0,98.0,117.0,81.0,27.0,45.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,2153.0,131.0,32.0,79.0,20.0,0.0

In [49]:
## Adding 2017 dataset

In [50]:
b.fetch("census/demographic_profile/2017/acs_2017_X01_AGE_AND_SEX_tract.parquet", "./acs_2017_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.1M/23.1M [00:03<00:00, 6.49MB/s]

In [51]:
ca_tracts_2017 = pandas.read_parquet('./acs_2017_X01_AGE_AND_SEX_tract.parquet')

In [52]:
ca_tracts_2017.head()

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US01001020100,1845.0,899.0,39.0,32.0,55.0,92.0,18.0,6.0,7.0,60.0,...,22.1,22.9,11.9,40.8,39.3,42.3,52.5,NaN,NaN,1845.0
14000US01001020200,2172.0,1167.0,48.0,154.0,114.0,38.0,43.0,40.0,6.0,56.0,...,31.8,NaN,33.6,33.7,26.9,42.6,65.4,NaN,NaN,2172.0
14000US01001020300,3385.0,1533.0,65.0,144.0,118.0,67.0,41.0,7.0,36.0,39.0,...,21.9,21.5,75.2,35.3,34.2,36.0,27.4,27.1,28.2,3385.0
14000US01001020400,4267.0,2001.0,119.0,118.0,153.0,29.0,38.0,8.0,90.0,50.0,...,15.4,18.3,8.8,44.7,43.3,46.3,25.3,21.4,25.8,4267.0
14000US01001020500,9965.0,5054.0,333.0,447.0,410.0,302.0,133.0,28.0,0.0,207.0,...,14.1,8.6,40.4,38.7,36.4,44.7,NaN,NaN,NaN,9965.0

In [53]:
ca_tracts_2017 = tracts[tracts.GEOID.str.startswith('14000US06')]

In [54]:
ca_tracts_2017.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [55]:
ca_tracts_2017=ca_tracts_2017.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_015E':'ETM_45to49yr','B01001_016E':'ETM_50to54yr','B01001_017E':'ETM_55to59yr','B01001_018E':'ETM_60to61yr','B01001_019E':'ETM_62to64yr','B01001_020E':'ETM_65to66yr','B01001_021E':'ETM_67to69yr','B01001_022E':'ETM_70to74yr','B01001_023E':'ETM_75to79yr','B01001_024E':'ETM_80to84yr','B01001_025E':'ETM_85andover','B01001_026E':'Estimate_Total_Female','B01001_027E':'ETF_Under5yrs','B01001_028E':'ETF_5to9yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr'})

In [56]:
ca_tracts_2017=ca_tracts_2017[['GEOID','Estimate_Total','Estimate_Total_Male','ETM_Under5yrs','ETM_5to9yr','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr','Estimate_Total_Female','ETF_Under5yrs','ETF_5to9yr','ETF_10_14yr','ETF_15to17yr','ETF_18to19yr']]

In [57]:
ca_tracts_2017.columns

Index(['GEOID', 'Estimate_Total', 'Estimate_Total_Male', 'ETM_Under5yrs',
       'ETM_5to9yr', 'ETM_10to14yr', 'ETM_15to17yr', 'ETM_18to19yr',
       'Estimate_Total_Female', 'ETF_Under5yrs', 'ETF_5to9yr', 'ETF_10_14yr',
       'ETF_15to17yr', 'ETF_18to19yr'],
      dtype='object')

In [ ]:
## Adding 2016 dataset

In [58]:
b.fetch("census/demographic_profile/2016/acs_2016_X01_AGE_AND_SEX_tract.parquet", "./acs_2016_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.1M/23.1M [00:03<00:00, 6.76MB/s]

In [59]:
ca_tracts_2016 = pandas.read_parquet('./acs_2016_X01_AGE_AND_SEX_tract.parquet')

In [60]:
ca_tracts_2016 = tracts[tracts.GEOID.str.startswith('14000US06')]

In [61]:
ca_tracts_2016.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [62]:
ca_tracts_2016=ca_tracts_2016.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_015E':'ETM_45to49yr','B01001_016E':'ETM_50to54yr','B01001_017E':'ETM_55to59yr','B01001_018E':'ETM_60to61yr','B01001_019E':'ETM_62to64yr','B01001_020E':'ETM_65to66yr','B01001_021E':'ETM_67to69yr','B01001_022E':'ETM_70to74yr','B01001_023E':'ETM_75to79yr','B01001_024E':'ETM_80to84yr','B01001_025E':'ETM_85andover','B01001_026E':'Estimate_Total_Female','B01001_027E':'ETF_Under5yrs','B01001_028E':'ETF_5to9yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr'})

In [63]:
ca_tracts_2016=ca_tracts_2016[['GEOID','Estimate_Total','Estimate_Total_Male','ETM_Under5yrs','ETM_5to9yr','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr','Estimate_Total_Female','ETF_Under5yrs','ETF_5to9yr','ETF_10_14yr','ETF_15to17yr','ETF_18to19yr']]

In [64]:
ca_tracts_2016.columns

Index(['GEOID', 'Estimate_Total', 'Estimate_Total_Male', 'ETM_Under5yrs',
       'ETM_5to9yr', 'ETM_10to14yr', 'ETM_15to17yr', 'ETM_18to19yr',
       'Estimate_Total_Female', 'ETF_Under5yrs', 'ETF_5to9yr', 'ETF_10_14yr',
       'ETF_15to17yr', 'ETF_18to19yr'],
      dtype='object')

In [ ]:
## Adding 2015 datasets

In [65]:
b.fetch("census/demographic_profile/2015/acs_2015_X01_AGE_AND_SEX_tract.parquet", "./acs_2015_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.0M/23.0M [00:03<00:00, 6.74MB/s]

In [66]:
ca_tracts_2015 = pandas.read_parquet('./acs_2015_X01_AGE_AND_SEX_tract.parquet')

In [67]:
ca_tracts_2015 = tracts[tracts.GEOID.str.startswith('14000US06')]

In [68]:
ca_tracts_2015.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [69]:
ca_tracts_2015=ca_tracts_2015.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_015E':'ETM_45to49yr','B01001_016E':'ETM_50to54yr','B01001_017E':'ETM_55to59yr','B01001_018E':'ETM_60to61yr','B01001_019E':'ETM_62to64yr','B01001_020E':'ETM_65to66yr','B01001_021E':'ETM_67to69yr','B01001_022E':'ETM_70to74yr','B01001_023E':'ETM_75to79yr','B01001_024E':'ETM_80to84yr','B01001_025E':'ETM_85andover','B01001_026E':'Estimate_Total_Female','B01001_027E':'ETF_Under5yrs','B01001_028E':'ETF_5to9yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr'})

In [71]:
ca_tracts_2015=ca_tracts_2015[['GEOID','Estimate_Total','Estimate_Total_Male','ETM_Under5yrs','ETM_5to9yr','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr','Estimate_Total_Female','ETF_Under5yrs','ETF_5to9yr','ETF_10_14yr','ETF_15to17yr','ETF_18to19yr']]

In [72]:
ca_tracts_2015.columns

Index(['GEOID', 'Estimate_Total', 'Estimate_Total_Male', 'ETM_Under5yrs',
       'ETM_5to9yr', 'ETM_10to14yr', 'ETM_15to17yr', 'ETM_18to19yr',
       'Estimate_Total_Female', 'ETF_Under5yrs', 'ETF_5to9yr', 'ETF_10_14yr',
       'ETF_15to17yr', 'ETF_18to19yr'],
      dtype='object')

In [ ]:
## Adding Tracts for geometries

In [73]:
b.fetch("census/acs/acs_2018_tract.parquet", "./acs_2018_tract.parquet")

100%|██████████| 575M/575M [00:06<00:00, 82.8MB/s]

In [74]:
tract = gpd.read_file('./tl_2018_06_tract/tl_2018_06_tract.shp')

In [75]:
tract.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,037,137504,06037137504,1375.04,Census Tract 1375.04,G5020,S,3837562,0,+34.1480383,-118.5720594,"POLYGON ((-118.58119 34.14318, -118.58099 34.1..."
1,06,037,138000,06037138000,1380,Census Tract 1380,G5020,S,4472196,0,+34.1488008,-118.5910495,"POLYGON ((-118.60573 34.14585, -118.60561 34.1..."
2,06,037,139200,06037139200,1392,Census Tract 1392,G5020,S,1152031,0,+34.1756961,-118.5246447,"POLYGON ((-118.53082 34.18024, -118.52952 34.1..."
3,06,067,002300,06067002300,23,Census Tract 23,G5020,S,1213095,0,+38.5571708,-121.4938311,"POLYGON ((-121.50218 38.55643, -121.50184 38.5..."
4,06,067,002400,06067002400,24,Census Tract 24,G5020,S,3224718,0,+38.5448312,-121.4973382,"POLYGON ((-121.50970 38.54070, -121.50960 38.5..."

In [ ]:
## Set to CA STATEFP

In [76]:
tract.shape

(8057, 13)

In [77]:
tract.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - NAD83
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich